{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoApp</title>
    <link rel="stylesheet" href="{% static 'users/styles.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow-lg fixed top-0 w-full z-50 p-2">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between items-center h-16">
                <!-- Website logo -->
                <div class="flex-shrink-0">
                    <a href="{% url 'index' %}" class="flex items-center">
                        <img class="h-10 w-10 rounded" src="{% static 'users/images/socialIcon.jpg' %}" alt="socialIcon">
                        <span class="font-bold text-lg text-2xl text-gray-800 ml-2">SocialApp</span>
                    </a>
                </div>

                <!-- Website items -->
                <div class="hidden md:flex items-center space-x-4">
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'explore' %}">Explore</a>
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'search' %}">Search</a>
                    {% if request.user.is_authenticated %}
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'createPost' %}">Add Post</a>
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'index' %}">Home</a>
                    
                    <!-- Profile dropdown -->
                    <div class="relative">
                        <button class="flex items-center space-x-2 py-2 px-3 text-gray-700 hover:text-gray-900 font-medium focus:outline-none" id="profileMenuButton">
                            <img class="h-8 w-8 rounded-full object-cover" src="{{ user.profile.photo.url }}" alt="{{ user.profile.user.username }}">
                            <span>{{ user.profile.user.username }}</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                        <div class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 z-20" id="profileMenu">
                            <a href="{% url 'editUser' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Edit Profile</a>
                            <a href="{% url 'changePassword' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Change Password</a>
                            <a href="{% url 'resetPassword' %}" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Reset Password</a>
                            <!-- Profile dropdown -->
                            <div class="block text-gray-700 hover:bg-gray-200">
                                <form id="logoutForm" action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="w-full h-full text-left px-4 py-2">
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </div>
                            

                        </div>
                    </div>
                    {% else %}
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'login' %}">Login</a>
                    <a class="py-2 px-3 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
                
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <a class="py-2 px-4 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'search' %}">Search</a>
                    <a class="py-2 px-4 text-gray-700 hover:text-gray-900 font-medium" href="{% url 'explore' %}">Explore</a>
                    <button class="mobile-menu-button">
                        <svg class="w-6 h-6 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            {% if user.is_authenticated %}
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'index' %}">Home</a>
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'createPost' %}">Add Post</a>
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'editUser' %}">Edit Profile</a>
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'changePassword' %}">Change Password</a>
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'resetPassword' %}">Reset Password</a>
            <div class="block text-gray-700 hover:bg-gray-200">
                <form id="logoutForm" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="w-full h-full text-left px-4 py-2">
                        <span>Logout</span>
                    </button>
                </form>
            </div>
            {% else %}
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'login' %}">Login</a>
            <a class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-200" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>

    {% block body %}
    {% endblock body %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const profileMenuButton = document.getElementById('profileMenuButton');
            const profileMenu = document.getElementById('profileMenu');
            const btn = document.querySelector('.mobile-menu-button');
            const menu = document.querySelector('.mobile-menu');
            
            if (profileMenuButton) {
                profileMenuButton.addEventListener('click', (event) => {
                    event.stopPropagation(); // Prevents the event from bubbling up to the document
                    profileMenu.classList.toggle('hidden');
                });
            }

            // Event listener for mobile menu button
            btn.addEventListener('click', (event) => {
                event.stopPropagation(); // Prevents the event from bubbling up to the document
                menu.classList.toggle('hidden');
            });

            // Event listener to close menus when clicking outside
            document.addEventListener('click', (event) => {
                const isProfileMenuOpen = profileMenu && !profileMenu.classList.contains('hidden');
                const isMobileMenuOpen = !menu.classList.contains('hidden');

                // Close profile menu if open and click is outside the menu
                if (isProfileMenuOpen && !event.target.closest('#profileMenu') && !event.target.closest('#profileMenuButton')) {
                    profileMenu.classList.add('hidden');
                }

                // Close mobile menu if open and click is outside the menu
                if (isMobileMenuOpen && !event.target.closest('.mobile-menu') && !event.target.closest('.mobile-menu-button')) {
                    menu.classList.add('hidden');
                }
            });
        });
    </script>
</body>
</html>
