{% extends "users/base.html" %}

{% block body %}
<h1 class='text-3xl mt-32 font-bold text-gray-700 text-center'>Reset Password</h1>

<div class="container mx-auto flex justify-center">
    <form action="" method="post" class='bg-white shadow-md m-10 w-full max-w-md rounded px-8 pt-6 pb-8 mb-4' style="min-width: 300px;">
        {% csrf_token %}
        <div class="text-center">
            <h2 class="text-red-500 font-semibold">
                {% if form.errors %}
                    {% for field in form %}
                        {{field.errors}}
                    {% endfor %}
                {% endif %}
            </h2>
        </div>
        <div class='mb-4'>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email" name="email">
        </div>
        <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Reset Password</button>
    </form>
</div>

{% endblock body %}
