{% extends "users/base.html" %}
{% load static %}
{% load mathfilters %}
{% block body %}
<div class="container mx-auto my-5 p-5">
    <!-- Profile Section -->
    <div class="bg-white p-5 rounded-lg shadow-md max-w-2xl mx-auto mb-6 mt-24">
        <!-- Profile Details -->
        <div class="flex items-center justify-between mb-4">
            <!-- Profile Information and Image -->
            <div class="flex items-center">
                <!-- Profile Image -->
                <div class="flex-shrink-0">
                    <img class="h-16 w-16 rounded-full object-cover" src="{{ profile.photo.url }}" alt="{{ profile.user.username }}" style="max-width: 100px; max-height: 100px;">
                </div>
                <!-- Profile Information -->
                <div class="ml-4">
                    <div class="flex justify-between">

                        <div class="text-xl font-medium text-gray-900">{{ profile.user.username }}</div>
                        <a href="{% url 'chat' request.user.id user_.id %}">
                            <button class="flex items-center text-gray-500 hover:text-gray-700 message-btn mx-auto mt-1">
                                <!-- Icon -->
                                {% if not request.user == user_ %}
                                <img src="{% static 'users/images/message.png' %}" alt="" class="w-6 h-6 mr-1 like-icon">
                                <!-- Text -->
                                <span>Message</span>
                                {% endif %}
                            </button>
                        </a>
                    </div>
                    <div class="text-sm text-gray-500">{{ profile.bio }}</div>
                    <div class="mt-2 flex">
                        <!-- Add the message button -->
                        <button class="flex items-center text-gray-500 hover:text-gray-700 followers-btn">
                            <span class=" text-gray-700">Followers: {{ followers_users.all.count }}</span>
                        </button>
                        <button class="flex items-center text-gray-500 hover:text-gray-700 following-btn">
                            <span class="ml-4 text-gray-700">Following: {{ following_users.all.count }}</span> <br>
                        </button>
                        <span class="ml-4 text-gray-700">Posts: {{ num_posts }}</span>
                    </div>
                    {% comment %} followers model {% endcomment %}
                    <div id="followers-modal" class="hidden fixed z-50 inset-0 overflow-y-auto followers-model">
                        <div class="flex items-center justify-center min-h-screen px-4">
                            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                                <div class="bg-gray-100 px-6 py-4">
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">Followers</h3>
                                    <!-- Set a specific height and make the followers list scrollable -->
                                    <ul id="followers-list" class="divide-y divide-gray-300 max-h-96 overflow-y-auto">
                                        {% for followers in followers_users.all %}
                                        <li class="py-4">
                                            <a href="{% url "user_profile" followers.follower.id %}">
                                                <div class="flex items-start justify-between">
                                                    <div class="flex items-center">
                                                        <img class="h-10 w-10 rounded-full object-cover mr-4" src="{{ followers.follower.profile.photo.url }}" alt="{{ followers.follower.username }}">
                                                        <div>
                                                            <p class="text-gray-800 font-semibold">{{ followers.follower.username }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        {% empty %}
                                        <li class="py-4 text-gray-600">No followers.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse followers-model-close">
                                    <button type="button" class="close-modal-btn inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% comment %} following model {% endcomment %}
                    <div id="following-modal" class="hidden fixed z-50 inset-0 overflow-y-auto following-model">
                        <div class="flex items-center justify-center min-h-screen px-4">
                            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                                <div class="bg-gray-100 px-6 py-4">
                                    <h3 class="text-xl font-semibold text-gray-800 mb-4">followings</h3>
                                    <!-- Set a specific height and make the followings list scrollable -->
                                    <ul id="followings-list-{{post.id}}" class="divide-y divide-gray-300 max-h-96 overflow-y-auto">
                                        {% for following in following_users.all %}
                                        <a href="{% url 'user_profile' following.followed.id %}"></a>
                                        <li class="py-4">
                                            <div class="flex items-start justify-between">
                                                <div class="flex items-center">
                                                    <img class="h-10 w-10 rounded-full object-cover mr-4" src="{{ following.followed.profile.photo.url }}" alt="{{ following.posted_by.username }}">
                                                    <div>
                                                        <p class="text-gray-800 font-semibold">{{ following.followed.username }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% empty %}
                                            <li class="py-4 text-gray-600">No followings.</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse following-model-close">
                                    <button type="button" class="close-modal-btn inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Follow Button -->
            <div>
                {% if not request.user == user_ %}
                    <div>
                        <button class="follow-unfollow" id="{{ user_.id }}">
                            {% if request.user.id in followers_user_ids %}
                                <span class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded ml-2 unfollow-btn">Unfollow</span>
                            {% else %}
                                <span class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded ml-2 follow-btn">Follow</span>
                            {% endif %}
                        </button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="flex justify-center mt-20 mb-5">
        {% if not request.user == user_ %}
            <h2 class="text-3xl font-bold mb-3 text-gray-700">Posts</h2>
        {% else %}
            <h2 class="text-3xl font-bold mb-3 text-gray-700">My Posts</h2>
        {% endif %}
    </div>

    <!-- Posts Section -->
    <div class="post-container grid-view space-y-3">
        {% for post in posts %}
            <div class="post rounded-lg shadow-md max-w-2xl mx-auto bg-white">
                <div class="h-full p-5 flex flex-col justify-between">
                    <h3 class="text-xl font-semibold text-gray-800 mb-1 ml-1 font-poppins">{{ post.title }}</h3>
                    <div class="flex items-center mb-4">
                        <div class="ml-1">
                            <div class="text-sm text-gray-500">
                                {{ post.created|date:"F d, Y" }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="h-64 overflow-hidden rounded-lg shadow-md flex justify-center items-center post-image {% if post.image.width != post.image.height %}bg-black{% endif %}" style="width: 100%; height: 100%; max-width: 630px;">
                            <img class="object-cover max-h-full max-w-full shadow" id="postid" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                    </div>
                    <div class="mt-2 text-gray-700 caption">
                        {% if post.caption|length > 50 %}
                            <p class="caption-text" data-caption-truncated="{{ post.caption|truncatechars:50 }}" data-caption-full="{{ post.caption }}">{{ post.caption|truncatechars:50 }}</p>
                            <button class="text-blue-500 hover:text-blue-700 show-more-btn">Show More</button>
                        {% else %}
                            <p class="caption-text">{{ post.caption }}</p>
                        {% endif %}
                    </div>
                    <div class="mt-4 flex items-center">
                        <button class=" items-center">
                            <div class="flex items-center like-btn mr-4 ml-1" id="{{post.id}}">
                                {% if user in post.liked_by.all %}
                                    <img src="{% static 'users/images/likeicon.png' %}" alt="" class="w-6 h-6 mr-1 like-icon">
                                    <span class="like-text text-red-500 hover:text-red-700">Liked</span>
                                {% else %}
                                    <img src="{% static 'users/images/likeiconempty.png' %}" alt="" class="w-6 h-6 mr-1 like-icon">
                                    <span class="like-text text-gray-500 hover:text-gray-700">Like</span>
                                {% endif %}
                            </div>
                        </button>
                        
                        <button class="flex items-center text-gray-500 hover:text-gray-700 comment-btn " data-post-id="{{ post.id }}">
                            <svg class="w-6 h-6 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M21 4H3a2 2 0 00-2 2v11a2 2 0 002 2h2v3l4-3h10a2 2 0 002-2V6a2 2 0 00-2-2z"/>
                            </svg>
                            {% if post.comments.all.count < 1 %}
                            No Comments
                            {% elif post.comments.all.count <= 1 %}
                            {{post.comments.all.count}} Comment
                            {% else %}
                            {{post.comments.all.count}} Comments
                            {% endif %}
                        </button>
                    </div>
                    <div class="like-count m-1 text-gray-500 ">
                        <button class="flex items-center text-gray-500 hover:text-gray-700 liked-by-btn " data-post-id="{{ post.id }}">
                        {% if post.liked_by.count < 1 %}
                            No likes
                        {% elif post.liked_by.count == 1 %}
                            Liked by {{ post.liked_by.first }}
                        {% else %}
                            Liked by {{ post.liked_by.first }} and {{ post.liked_by.count|sub:1 }} others
                        {% endif %}
                        </button>
                        
                        <!-- Liked Users Modal -->
                        <div id="liked-users-modal-{{ post.id }}" class="liked-users-modal hidden fixed z-50 inset-0 overflow-y-auto">
                            <div class="flex items-center justify-center min-h-screen px-4">
                                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                                    <div class="bg-gray-100 px-6 py-4">
                                        <h3 class="text-xl font-semibold text-gray-800 mb-4">Liked by</h3>
                                        <!-- Set a specific height and make the liked users list scrollable -->
                                        <ul id="liked-users-list-{{post.id}}" class="divide-y divide-gray-300 max-h-96 overflow-y-auto">
                                            {% for like in post.liked_by.all %}
                                                <li class="flex items-center py-2">
                                                    <img class="h-8 w-8 rounded-full mr-3 object-cover" src="{{ like.profile.photo.url }}" alt="{{ like.username }}">
                                                    <p class="text-gray-800">{{ like }}</p>
                                                </li>
                                            {% empty %}
                                                <li class="py-2 text-gray-600">No Likes.</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                        <button type="button" class="close-liked-users-modal-btn inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="">
                        <form method='POST' class="flex mt-3">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" id="post_id" value="{{ post.id }}">
                            <input type="text" class="bg-gray-100 appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder='Write a comment...' name="body" id="id_body" />
                            {% comment %} {{ comment_form.body }} {% endcomment %}
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded ml-2">
                                Comment
                            </button>
                        </form>
                        
                        <!-- Comment Modal -->
                        <div id="comment-modal-{{ post.id }}" class="hidden fixed z-50 inset-0 overflow-y-auto comment-model">
                            <div class="flex items-center justify-center min-h-screen px-4">
                                <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
                                    <div class="bg-gray-100 px-6 py-4">
                                        <h3 class="text-xl font-semibold text-gray-800 mb-4">Comments</h3>
                                        <!-- Set a specific height and make the comments list scrollable -->
                                        <ul id="comments-list-{{ post.id }}" class="divide-y divide-gray-300 max-h-96 overflow-y-auto">
                                            {% for comment in post.comments.all %}
                                            <li class="py-4">
                                                <div class="flex items-start justify-between">
                                                    <div class="flex items-center">
                                                        <img class="h-10 w-10 rounded-full object-cover mr-4" src="{{ comment.posted_by.profile.photo.url }}" alt="{{ comment.posted_by.username }}">
                                                        <div>
                                                            <p class="text-gray-800 font-semibold">{{ comment.posted_by.username }}</p>
                                                            <p class="text-gray-600">{{ comment.body }}</p>
                                                        </div>
                                                    </div>
                                                    <p class="text-gray-400 text-sm mr-1">{{ comment.created }}</p> <!-- Display creation time -->
                                                </div>
                                            </li>
                                            {% empty %}
                                            <li class="py-4 text-gray-600">No Comments.</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="bg-gray-200 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse comment-model-close">
                                        <button type="button" class="close-modal-btn inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const showMoreButtons = document.querySelectorAll('.show-more-btn');
        showMoreButtons.forEach(button => {
            button.addEventListener('click', function() {
                const captionText = button.previousElementSibling;
                const fullCaption = captionText.getAttribute('data-caption-full');
                const isExpanded = button.dataset.toggle === 'true';
    
                if (isExpanded) {
                    captionText.textContent = captionText.getAttribute('data-caption-truncated');
                    button.textContent = 'Show More';
                } else {
                    captionText.textContent = fullCaption;
                    button.textContent = 'Show Less';
                }
                button.dataset.toggle = !isExpanded;
            });
        });
    });

    $(document).on('click', '.like-btn', function(){
        var post_id = this.id;
        var likeButton = $(this);
        var csrf_token = "{{ csrf_token }}";
        $.ajax({
            method: 'POST',
            url: '/posts/like/',
            data: { post_id: post_id, csrfmiddlewaretoken: csrf_token },
            success: function(data) {
                if (data.liked) {
                    likeButton.find('.like-icon').attr('src', '{% static "users/images/likeicon.png" %}');
                    likeButton.find('.like-text').text('Liked').addClass('text-red-500').removeClass('text-gray-500');
                } else {
                    likeButton.find('.like-icon').attr('src', '{% static "users/images/likeiconempty.png" %}');
                    likeButton.find('.like-text').text('Like').addClass('text-gray-500').removeClass('text-red-500');
                }
                likeButton.closest('.post').find('.like-count').text(data.like_count_text); // Update like count
                // Reload the page to reflect changes in the liked by section
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });

    $(document).on('click', '.follow-unfollow', function(){
        var user_id = this.id;
        console.log("user_id"+user_id)
        var followButton = $(this);
        var csrf_token = "{{ csrf_token }}";
        //console.log("here in console")
        $.ajax({
            method: 'POST',
            url: '/users/follow_unfollow/',
            data: { user_id: user_id, csrfmiddlewaretoken: csrf_token },
            success: function(data) {
                if (data.followed) {
                    followButton.find('.follow-unfollow').text('Unfollow').addClass('text-red-500').removeClass('text-gray-500');
                } else {
                    followButton.find('.follow-unfollow').text('Follow').addClass('text-gray-500').removeClass('text-red-500');
                }
                followButton.closest('.post').find('.like-count').text(data.like_count_text); // Update like count
                // Reload the page to reflect changes in the liked by section
                location.reload();
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
    
    $(document).ready(function() {
        const commentButtons = document.querySelectorAll('.comment-btn');
        
        commentButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = button.dataset.postId;
                const commentModal = document.getElementById(`comment-modal-${ postId }`);
                commentModal.classList.remove('hidden');
            });
        });

        const closeCommentModalBtns = document.querySelectorAll('.close-modal-btn');
        closeCommentModalBtns.forEach(button => {
            button.addEventListener('click', function() {
                const modal = button.closest('.comment-model');
                modal.classList.add('hidden');
            });
        });
    
        // Event listener for clicking on the "Liked by" button
        const likedByButtons = document.querySelectorAll('.liked-by-btn');
        likedByButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = button.dataset.postId;
                const likedUsersModal = document.getElementById(`liked-users-modal-${postId}`);
                likedUsersModal.classList.remove('hidden');
            });
        });

        const closeLikedUsersModalBtns = document.querySelectorAll('.close-liked-users-modal-btn');
        closeLikedUsersModalBtns.forEach(button => {
            button.addEventListener('click', function() {
                const modal = button.closest('.liked-users-modal');
                modal.classList.add('hidden');
            });
        });

        //following buttons model
        const followingButtons = document.querySelectorAll('.following-btn');
        
        followingButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = button.dataset.postId;
                const followingModal = document.getElementById(`following-modal`);
                followingModal.classList.remove('hidden');
            });
        });
    
        const closefollowingModalBtns = document.querySelectorAll('.close-modal-btn');
        closefollowingModalBtns.forEach(button => {
            button.addEventListener('click', function() {
                const modal = button.closest('.following-model');
                modal.classList.add('hidden');
            });
        });

        //followers buttons model

        const followersButtons = document.querySelectorAll('.followers-btn');
    
        followersButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = button.dataset.postId;
                const followersModal = document.getElementById(`followers-modal`);
                followersModal.classList.remove('hidden');
            });
        });

        const closefollowersModalBtns = document.querySelectorAll('.close-modal-btn');
        closefollowersModalBtns.forEach(button => {
            button.addEventListener('click', function() {
                const modal = button.closest('.followers-model');
                modal.classList.add('hidden');
            });
        });
    });
    $(document).ready(function() {
        $('.comment-form').submit(function(event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            console.log("here")
            // Store the current scroll position
            var scrollPosition = window.scrollY;
            
            // Get the form element
            var form = $(this);
            
            // Perform an AJAX request to submit the form data
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                dataType: 'json',
                success: function(data) {
                    // Restore the scroll position after the action is completed
                    window.scrollTo(0, scrollPosition);
                    
                    // Optionally, you can handle the success response here
                    // For example, display a success message or update the comments section
                    
                    // Reset the form
                    form.trigger('reset');
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
{% endblock body %}